header {
  position: fixed;
  box-shadow: 0 0 10px 1px black;
  width: 100%;
  height: 10vh;
  background-color: white;
  z-index: 1;
}
.admin-header {
  position: relative;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 10vh;
}

.header-exit {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 1rem;
}

.header-exit-open {
  display: flex;
  cursor: pointer;
}

.header-exit div {
  position: absolute;
  width: 2rem;
  height: 2px;
  background-color: black;
  z-index: 1;
}

.header-exit div:nth-child(1) {
  transform: rotate(45deg);
}

.header-exit div:nth-child(2) {
  transform: rotate(-45deg);
}

.day {
  cursor: pointer;
}

.calendar-booked {
  cursor: inherit;
  background-color: grey;
}

.booking-err-field {
  position: absolute;
  width: 100%;
  height: 3rem;
}

.form-err {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: red;
}
